body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ecf0f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.post-img {
    display: block;
    max-width: 240px;
    height: auto;
    margin-right: 15px;
}

.post-img img {
    display: block;
    width: 100%;
    height: auto;
}

.post-text {
    padding: 15px;
}

.full-post-img {
    display: block;
    max-width: 540px;
    margin: 0 auto 30px;
}

.btn {
    cursor: pointer;
}

.box {
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #fff;
}
